
    .login{
        display: flex;
        justify-content: center;
        background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
        /* width: 20%; */
        min-width: 100px;
        height: fit-content;
        position: fixed;
        top: 0px;
        right: 0%;
        padding: 0px 30px;
        text-align: center;
    }
    .login-title{
        color: black;
    }
    #login-Form-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 110px 0px;
        /* max-width: 90%; */
        min-width: 40%;
        background-color: white;
        border-radius: 10PX;
    }
    .loginFormAndButton{
        margin: 0px 40px;
    }
    .login-form{
        display: flex;
        flex-direction: column;
    }
    .login-form label{
        text-align: left;
        font-size: 16px;
        color: black;
    }
    .login-form input{
        padding: 10px 10px;
        text-align: left;
    }
    .login-options{
        color: black;
    }
    .login-button{
        width: 100%;
        align-self: center;
        background-color: orange;
        color: white;
        font-size: 18px;
        font-family: Raleway;
        border-radius: 5px;
        padding: 5px 0px;
    }
    .sign-up-button p{
        color: black;
    }
    .login-option-picture{
        width: fit-content;
        align-self: center;
        
        font-size: 40px;
    }
    .sign-up-button div{
        color: rgb(25, 0, 255);
        cursor: pointer;
    }
/*  */