.login-container{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(32, 0, 128);
    vertical-align: center;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: auto;
    border-radius: 10px;
    /* border: 3px solid red; */
    height: 30px;
}
.login-container button{
    color: white;
    background-color: rgb(32, 0, 128);
}
.login-container img{
   /* margin-top: 15px; */
}
.login-name-on-navbar{
    margin-top: 0px;
}

.signin-signup-button{
    display: flex;
    /* background-color: rgb(32, 0, 128); */
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 100%;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 20%;
    max-width: 200px;
}
.signin-signup-button button{
    color: white;
    background-color: rgb(32, 0, 128);
    border-radius: 10px;
    font-weight: bolder;
}